* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f4f6f8;
}
.title {
  margin-bottom: 20px;
  color: #333;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.employee-table {
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  margin-bottom: 20px;
}

.employee-table thead {
  color: white;
  background-color: #009879; 
  text-align: left;
}

.employee-table th, 
.employee-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.employee-table tr:last-of-type td {
  border-bottom: 2px solid #009879;
}
.pagination {
  gap: 10px;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

button {
  color: white;
  background-color: #009879;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
}

button:hover:not(:disabled) {
  background-color: #007f65;
}
.page-num-btn {
    background-color: #009879;
    cursor: default;
    font-weight: bold;
    padding: 10px 15px;
}
.page-num-btn:hover {
    background-color: #009879; 
}